<mat-card *ngIf="filterForm" [formGroup]="filterForm">
  <mat-card-content>
    <!-- The "Clear Filter" button -->
    <div class="clear-filter-container" *ngIf="isFilterActive">
      <button mat-stroked-button color="warn" (click)="clearFilters()">
        <mat-icon>clear_all</mat-icon>
        Clear All Filters
      </button>
    </div>

    <!-- The Price Range section -->
    <section class="filter-section">
      <h4>Price Range</h4>
      <mat-slider [min]="minPrice" [max]="maxPrice" class="mat-slider">
        <input matSliderThumb formControlName="price" />
      </mat-slider>
      <div class="price-labels">
        <span
          >{{ currentCurrencySymbol
          }}{{ minPrice.toLocaleString("en-IN") }}</span
        >
        <span
          >{{ currentCurrencySymbol
          }}{{ maxPrice.toLocaleString("en-IN") }}</span
        >
      </div>
    </section>

    <!-- The accordion for all other attributes -->
    <mat-accordion multi="false">
      <mat-expansion-panel *ngFor="let group of cleanedGroups">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ group.display }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="checkbox-group">
          <mat-checkbox
            *ngFor="let option of group.options"
            [formControlName]="controlName(group.key, option)"
          >
            {{ formatOptionValue(option) }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
